<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_header %>  

    <title>Home - Tidylist</title>
  </head>

  <body>
    <div class="app">
      <h1 class="title">TIDYLIST</h1>
      <span class="register">
        <i class="fas fa-user-plus fa-2x" alt="Register"></i>
      </span>
      <span class="login">
        <i class="fas fa-sign-in-alt fa-2x" alt="Login"></i>
      </span>
      <a class="email" href="mailto:ryotamine@gmail.com">
        <i class="fas fa-envelope fa-2x" alt="Email"></i>
      </a>

      <!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </body>

</html>
