<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_header %>  

    <title>Tidylist - A zenful to-do list</title>
  </head>

  <body>
    <div class="app">
      <!-- App title -->
      <h1 class="title">TIDYLIST</h1>

      <!-- Register icon -->
      <a class="modal-button" href="#register">
        <i class="fas fa-user-plus fa-2x" alt="Register"></i>
      </a>

      <!-- Register modal -->
      <div id="register" class="modal">

        <!-- Register modal content -->
        <div class="modal-content">
          <form action="/register?_method=PUT" method="POST">
            <div>
              <span class="fas fa-envelope icon-before" alt="Email">
              </span>
              <input 
                class="email-register" 
                type="email" 
                name="email" 
                placeholder="Email"
              >
            </div>
            <div>
              <span class="fas fa-lock icon-before" alt="Password">
              </span>
              <input 
                class="password-register" 
                type="password" 
                name="password" 
                placeholder="Password"
              >
            </div>
            <div>
              <button class="submit-register" type="submit">
                Register
              </button>
            </div>
          </form>
        </div>

      </div>

      <!-- Login icon -->
      <a class="modal-button" href="#login">
        <i class="fas fa-sign-in-alt fa-2x" alt="Login"></i>
      </a>

      <!-- Login modal -->
      <div id="login" class="modal">

        <!-- Login modal content -->
        <div class="modal-content">
          <form action="/login?_method=PUT" method="POST">
            <div>
              <span class="fas fa-envelope icon-before" alt="Email">
              </span>
              <input 
                class="email-login" 
                type="email" 
                name="email" 
                placeholder="Email"
              >
            </div>
            <div>
              <span class="fas fa-lock icon-before" alt="Password">
              </span>
              <input 
                class="password-login" 
                type="password" 
                name="password" 
                placeholder="Password"
              >
            </div>
            <div>
              <button class="submit-login" type="submit">
                Login
              </button>
            </div>
          </form>
        </div>

      </div>

      <!-- Email icon -->
      <a class="email" href="mailto:ryotamine@gmail.com">
        <i class="fas fa-envelope fa-2x" alt="Email"></i>
      </a>

    </div>

    <!-- Script file -->
    <script type="text/javascript" src="modal.js"></script>
  </body>
</html>
