<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_header %>  

    <title>Home - Tidylist</title>
  </head>

  <body>
    <div class="app">
      <h1 class="title">TIDYLIST</h1>
      <span class="register">
        <i class="fas fa-user-plus fa-2x" alt="Register"></i>
      </span>
      <span class="login">
        <i class="fas fa-sign-in-alt fa-2x" alt="Login"></i>
      </span>
      <a class="email" href="mailto:ryotamine@gmail.com">
        <i class="fas fa-envelope fa-2x" alt="Email"></i>
      </a>
    </div>
  </body>

</html>
