/* All pages */
.app {
  text-align: center;
}

/* Delete profile info */
.delete-info {
  top: 50%;
}

/* Home page */
.home {
  padding: 10px;
}

/* Fontawesome icons */
i {
  color: black;
  padding: 8px 8px 0px;
}

/* Fontawesome hover icons */
i:hover {
  color: grey;
  cursor: pointer;
}

/* Icons before input fields */
.icon-before {
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 12px;
  border-left: 1px solid #ccc;
  border-top-left-radius: 12px;
  border-top: 1px solid #ccc;
  display: inline-block;
  font-size: 24px;
  margin-bottom: 24px;
  padding: 14px 0px 14px 14px;
}

/* Full-width input fields */
input[type=email], input[type=password] {
  border-bottom: 1px solid #ccc;
  border-bottom-right-radius: 12px;
  border-left: none;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-top-right-radius: 12px;
  display: inline-block;
  font-size: 24px;
  margin-bottom: 24px;
  outline: none;
  padding: 12px;
  width: 76%;
}

/* Popup content */
.popup-content {
  border: 1px solid black !important;
  border-radius: 12px;
  padding: 24px !important;
}

/* Register, login, update, and delete profile submit buttons */
.submit-register, .submit-login, .submit-update, .submit-delete {
  background-color: #2196F3;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  padding: 12px;
  width: 84%;
}

/* App title */
.title {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 64px;
  margin: 0px;
  padding-bottom: 8px;
}

/* Responsive design */
@media screen and (max-width: 767px) {
  input[type=email], input[type=password] {
    width: 76%;
  }

  .popup-content {
    width: 100% !important;
  }
}
