/* All pages */
.app {
  text-align: center;
}

/* Fontawesome icons */
i {
  color: black;
  padding: 8px 8px 0px;
}

/* Fontawesome hover icons */
i:hover {
  color: grey;
  cursor: pointer;
}

/* Icons before input fields */
.icon-before {
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 24px;
  border-left: 1px solid #ccc;
  border-top-left-radius: 24px;
  border-top: 1px solid #ccc;
  font-size: 24px;
  margin-right: -5px;
  margin-bottom: 24px;
  padding: 14px 0px 14px 24px;
}

/* Full-width input fields */
input[type=email], input[type=password] {
  border-bottom: 1px solid #ccc;
  border-bottom-right-radius: 24px;
  border-left: none;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-top-right-radius: 24px;
  display: inline-block;
  font-size: 24px;
  margin-bottom: 24px;
  outline: none;
  padding: 12px 24px 12px 12px;
  width: 68%;
}

/* Modal background */
.modal {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  margin: 15% auto;
  padding: 24px;
  width: 68%;
}

/* Register, login, update, delete, and logout profile submit buttons */
.submit-register, .submit-login, .submit-update, .submit-delete, .submit-logout {
  background-color: #2196F3;
  border: none;
  border-radius: 24px;
  color: #FFF;
  cursor: pointer;
  font-size: 24px;
  outline: none;
  padding: 12px 24px;
  width: auto;
}

/* App title */
.title {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 64px;
  margin: 0px;
  padding-bottom: 8px;
}

/* Responsive design */
@media screen and (max-width: 767px) {
  input[type=email], input[type=password] {
    width: 68%;
  }

  .modal-content {
    width: auto;
  }
}
